@using UrlStringsAlias = Log4Net.AspNetMvc40Rasor.Helpers.UrlStrings;
@model Log4Net.AspNetMvc40ViewModel.LogItemVM
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>@Model.ContentData.Title.</h2>
                <h4>@Model.ContentData.Summary</h4>
        <h3>@Framework.Resx.UIStringResource.Warning_Areyousureyouwanttodeletethis</h3>
            </div>
@if (Model.StatusOfResult != Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.MessageOK && Model.StatusOfResult != Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.UIProcessReady)
{
            <div class="panel-body">
                <div class="text-danger">@Model.StatusMessageOfResult</div>
            </div>
}
@using (Html.BeginForm(UrlStringsAlias.ActionName_Log_Delete, UrlStringsAlias.ControllerName_Log, FormMethod.Post, new { @class= "form" })) {
    @Html.AntiForgeryToken()
            <div class="panel-body">
                <div class="form-group" >
                    @Html.LabelFor(model => model.Item.Id, new { @class = "control-label" })
                        <div class="form-control">
                            @Html.DisplayFor(model => model.Item.Id)
                        </div>
                </div>
                <div class="form-group" >
                    @Html.LabelFor(model => model.Item.Date, new { @class = "control-label" })
                        <div class="form-control">
                            @Html.DisplayFor(model => model.Item.Date)
                        </div>
                </div>
                <div class="form-group" >
                    @Html.LabelFor(model => model.Item.Thread, new { @class = "control-label" })
                        <div class="form-control">
                            @Html.DisplayFor(model => model.Item.Thread)
                        </div>
                </div>
                <div class="form-group" >
                    @Html.LabelFor(model => model.Item.Level, new { @class = "control-label" })
                        <div class="form-control">
                            @Html.DisplayFor(model => model.Item.Level)
                        </div>
                </div>
                <div class="form-group" >
                    @Html.LabelFor(model => model.Item.Logger, new { @class = "control-label" })
                        <div class="form-control">
                            @Html.DisplayFor(model => model.Item.Logger)
                        </div>
                </div>
                <div class="form-group" >
                    @Html.LabelFor(model => model.Item.Message, new { @class = "control-label" })
                        <div class="form-control">
                            @Html.DisplayFor(model => model.Item.Message)
                        </div>
                </div>
                <div class="form-group" >
                    @Html.LabelFor(model => model.Item.Exception, new { @class = "control-label" })
                        <div class="form-control">
                            @Html.DisplayFor(model => model.Item.Exception)
                        </div>
                </div>
            </div>
            <div class="panel-footer nopadding">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group">
                        <button class="btn btn-primary" role="button" type="submit">
                            <span class="glyphicon glyphicon-trash"></span>
                            <span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline">@Framework.Resx.UIStringResource.Delete</span>
                        </button>
                    </div>
                    <div class="btn-group">
                        <a href="@Url.Action(UrlStringsAlias.ActionName_Log_Index)" class="btn btn-default" role="button" type="button">
                            <span class="glyphicon glyphicon-ban-circle"></span><span class="hidden-xs hidden-sm visible-md-inline visible-lg-inline">@Framework.Resx.UIStringResource.Back</span>
                        </a>
                    </div>
                </div>
            </div>
}
        </div>
    </div>
</div>
