@using UrlStringsAlias = Log4Net.AspNetMvc40Rasor.Helpers.UrlStrings;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Linq.Expressions;
@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using System.Web.Routing;
@using Framework.Mvc;
@using PagedList.Mvc;
@model Log4Net.AspNetMvc40ViewModel.WPCommonOfLogVM
@{
    RouteValueDictionary queryStringDictionary = new RouteValueDictionary(Request.QueryString.AllKeys.ToDictionary(key => key, key => (object)Request.QueryString[key]));
}
 <div class="row">
 <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        @using (Html.BeginForm())
        {
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 style="display: inline;">@Framework.Resx.UIStringResource.Common_Filter</h3>
                </div>
                <div class="panel-footer nopadding">
<div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group">
    <button class="btn btn-default" role="button" type="submit" name="SearchToolBarUp" title="@Framework.Resx.UIStringResource.Search">
        <span class="glyphicon glyphicon-search"></span>
    </button>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Log_AddNew, UrlStringsAlias.ControllerName_Log)" class="btn btn-default" role="button" type="button" name="AddNewToolBarUp" title="@Framework.Resx.UIStringResource.AddNew">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
</div>
<div class="btn-group">
    <a href="location.href='@Url.Action(UrlStringsAlias.ActionName_Log_WPCommonOfLog_Export, UrlStringsAlias.ControllerName_Log, new RouteValueDictionary { { "dataServiceType", "Csv" } })'" class="btn btn-default" role="button" type="button" name="ExportToolBarUp" title="@Framework.Resx.UIStringResource.Export">
        <span class="glyphicon glyphicon-export"></span>
    </a>
</div>
<div class="btn-group">
    <a href="location.href='@Url.Action(UrlStringsAlias.ActionName_Log_WPCommonOfLog_Export, UrlStringsAlias.ControllerName_Log, new RouteValueDictionary { { "dataServiceType", "Excel2010" } })'" class="btn btn-default" role="button" type="button" name="ExportToExcelToolBarUp" title="@Framework.Resx.UIStringResource.ExportToExcel">
        <span class="glyphicon glyphicon-export"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Log_Import, UrlStringsAlias.ControllerName_Log)" class="btn btn-default" role="button" type="button" name="ImportToolBarUp" title="@Framework.Resx.UIStringResource.Import">
        <span class="glyphicon glyphicon-import"></span>
    </a>
</div>
</div>
                </div>
                <div class="panel-body">
     <label class="control-label">@Log4Net.Resx.UIStringResourcePerEntityLog.IsToCompare_ID_CheckBox_Search_isToCompareDateCommonOftOfCommon</label>
    @Html.DropDownListFor(model => model.Criteria.LogQueryCriteriaCommon.DateCommonOft.PreDefinedDateTimeRange, Model.UISharedViewModel.PreDefinedDateTimeRangeList, new Dictionary<string, Object> { { "class", "form-control" } } )
    @Html.TextBoxFor(model => model.Criteria.LogQueryCriteriaCommon.DateCommonOft.NullableLowerBound, new { @readonly = "readonly", @class = "form-control" })
    @Html.TextBoxFor(model => model.Criteria.LogQueryCriteriaCommon.DateCommonOft.NullableUpperBound, new { @readonly = "readonly", @class = "form-control" })
<div class="form-group">
    <label class="control-label">@Log4Net.Resx.UIStringResourcePerEntityLog.IsToCompare_ID_CheckBox_Search_isToCompareThreadCommonOftOfCommon</label>
    @Html.TextBoxFor(model=>model.Criteria.LogQueryCriteriaCommon.ThreadCommonOft.NullableValueToBeContained, new { @class = "form-control" })
</div>
<div class="form-group">
    <label class="control-label">@Log4Net.Resx.UIStringResourcePerEntityLog.IsToCompare_ID_CheckBox_Search_isToCompareLevelCommonOftOfCommon</label>
    @Html.TextBoxFor(model=>model.Criteria.LogQueryCriteriaCommon.LevelCommonOft.NullableValueToBeContained, new { @class = "form-control" })
</div>
<div class="form-group">
    <label class="control-label">@Log4Net.Resx.UIStringResourcePerEntityLog.IsToCompare_ID_CheckBox_Search_isToCompareLoggerCommonOftOfCommon</label>
    @Html.TextBoxFor(model=>model.Criteria.LogQueryCriteriaCommon.LoggerCommonOft.NullableValueToBeContained, new { @class = "form-control" })
</div>
<div class="form-group">
    <label class="control-label">@Log4Net.Resx.UIStringResourcePerEntityLog.IsToCompare_ID_CheckBox_Search_isToCompareMessageCommonOftOfCommon</label>
    @Html.TextBoxFor(model=>model.Criteria.LogQueryCriteriaCommon.MessageCommonOft.NullableValueToBeContained, new { @class = "form-control" })
</div>
<div class="form-group">
    <label class="control-label">@Log4Net.Resx.UIStringResourcePerEntityLog.IsToCompare_ID_CheckBox_Search_isToCompareExceptionCommonOftOfCommon</label>
    @Html.TextBoxFor(model=>model.Criteria.LogQueryCriteriaCommon.ExceptionCommonOft.NullableValueToBeContained, new { @class = "form-control" })
</div>
                    <div class="form-group form-inline">
                        <label class="control-label">Items per page : </label>
                        @Html.DropDownListFor(model => model.QueryPagingSetting.PageSize, Model.UISharedViewModel.SelectListOfPageSize, new Dictionary<string, Object> { { "class", "form-control" }, { "onchange", "this.form.submit();" } })
                    </div>
                    <div class="form-group form-inline">
                        <label class="control-label">Sort by:</label>
                        @Html.DropDownListFor(model => model.QueryOrderBySettingCollecionInString, Model.UISharedViewModel.SelectListOfQueryOrderBySettingCollecionInString, new Dictionary<string, Object> { { "class", "form-control" }, { "onchange", "this.form.submit();" } })
                    </div>
                </div>
                <div class="panel-footer nopadding">
<div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group">
    <button class="btn btn-default" role="button" type="submit" name="SearchToolBarBottom" title="@Framework.Resx.UIStringResource.Search">
        <span class="glyphicon glyphicon-search"></span>
    </button>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Log_AddNew, UrlStringsAlias.ControllerName_Log)" class="btn btn-default" role="button" type="button" name="AddNewToolBarBottom" title="@Framework.Resx.UIStringResource.AddNew">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
</div>
<div class="btn-group">
    <a href="location.href='@Url.Action(UrlStringsAlias.ActionName_Log_WPCommonOfLog_Export, UrlStringsAlias.ControllerName_Log, new RouteValueDictionary { { "dataServiceType", "Csv" } })'" class="btn btn-default" role="button" type="button" name="ExportToolBarBottom" title="@Framework.Resx.UIStringResource.Export">
        <span class="glyphicon glyphicon-export"></span>
    </a>
</div>
<div class="btn-group">
    <a href="location.href='@Url.Action(UrlStringsAlias.ActionName_Log_WPCommonOfLog_Export, UrlStringsAlias.ControllerName_Log, new RouteValueDictionary { { "dataServiceType", "Excel2010" } })'" class="btn btn-default" role="button" type="button" name="ExportToExcelToolBarBottom" title="@Framework.Resx.UIStringResource.ExportToExcel">
        <span class="glyphicon glyphicon-export"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Log_Import, UrlStringsAlias.ControllerName_Log)" class="btn btn-default" role="button" type="button" name="ImportToolBarBottom" title="@Framework.Resx.UIStringResource.Import">
        <span class="glyphicon glyphicon-import"></span>
    </a>
</div>
</div>
                </div>
            </div>
        }
 </div>
 <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 nopadding">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 style="display: inline;">@Html.ActionLink(Log4Net.Resx.UIStringResourcePerEntityLog.Log, "WPCommonOfLog", "Log")</h3>
            </div>
            <div class="table-responsive">
<table id="MasterDataControl1" name="MasterDataControl1" class="table table-hover table-bordered table-striped">
<thead>
    <tr>
<th style="min-width:100px" class="hidden-xs visible-sm"></th>
<th class="hidden-sm">@Log4Net.Resx.UIStringResourcePerEntityLog.Id</th>
<th>@Log4Net.Resx.UIStringResourcePerEntityLog.Date</th>
<th>@Log4Net.Resx.UIStringResourcePerEntityLog.Thread</th>
<th>@Log4Net.Resx.UIStringResourcePerEntityLog.Level</th>
<th class="hidden-xs">@Log4Net.Resx.UIStringResourcePerEntityLog.Logger</th>
<th class="hidden-xs">@Log4Net.Resx.UIStringResourcePerEntityLog.Message</th>
<th class="hidden-sm">@Log4Net.Resx.UIStringResourcePerEntityLog.Exception</th>
    </tr>
</thead>
<tbody>
    @if (Model != null && Model.StatusOfResult == Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.MessageOK)
    {
        for (var i = 0; i < Model.Result.Count; i ++)
        {
            <tr>
<td><div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Log_WPEntityRelatedOfLog, UrlStringsAlias.ControllerName_Log, new { isToCompareIdByIdentifierOftOfByIdentifier=true, valueToCompareIdByIdentifierOftOfByIdentifier = Model.Result[i].Id })" class="btn btn-default" role="button" type="button" name="FullDetailsToolBarRightInList" title="@Framework.Resx.UIStringResource.FullDetails">
        <span class="glyphicon glyphicon-briefcase"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Log_Edit, UrlStringsAlias.ControllerName_Log, new { isToCompareIdByIdentifierOftOfByIdentifier=true, valueToCompareIdByIdentifierOftOfByIdentifier = Model.Result[i].Id })" class="btn btn-default" role="button" type="button" name="EditToolBarRightInList" title="@Framework.Resx.UIStringResource.Edit">
        <span class="glyphicon glyphicon-edit"></span>
    </a>
</div>
</div>
</td>
<td class="hidden-sm">@Html.DisplayFor(model => model.Result[i].Id)</td>
<td>@Html.DisplayFor(model => model.Result[i].Date)</td>
<td>@Html.DisplayFor(model => model.Result[i].Thread)</td>
<td>@Html.DisplayFor(model => model.Result[i].Level)</td>
<td class="hidden-xs">@Html.DisplayFor(model => model.Result[i].Logger)</td>
<td class="hidden-xs">@Html.DisplayFor(model => model.Result[i].Message)</td>
<td class="hidden-sm">@Html.DisplayFor(model => model.Result[i].Exception)</td>
            </tr>
        }
    }
    else
    {
<tr><td colspan="50" ><div class="text-danger">@Model.StatusMessageOfResult</div>
</td></tr>
    }
</tbody>
</table>
            </div>
            <div class="pull-right">
    @if (Model.Result != null)
    {
        var pagedResult = (PagedList.StaticPagedList<Log4Net.DataSourceEntities.Log>)ViewBag.StaticPagedResult;
        <text>
            @Html.PagedListPager(pagedResult, currentPage => Url.Action(UrlStringsAlias.ActionName_Log_WPCommonOfLog, new { currentPage = currentPage }), PagedList.Mvc.PagedListRenderOptions.OnlyShowFivePagesAtATime)
        </text>
    }
            </div>
        </div>
 </div>
 </div>
@section Scripts {
   <script type="text/javascript">
        $(document).ready($(function() {
            $('select[name="Criteria.LogQueryCriteriaCommon.DateCommonOft.PreDefinedDateTimeRange"]').change(function () {
                preDefinedDateTimeRangeChanged('Criteria.LogQueryCriteriaCommon.DateCommonOft');
            });
            preDefinedDateTimeRangeChanged('Criteria.LogQueryCriteriaCommon.DateCommonOft');
            $('input[name="Criteria.LogQueryCriteriaCommon.DateCommonOft.NullableLowerBound"]').datepicker({
                autoclose: true,
                beforeShowDay: $.noop,
                calendarWeeks: false,
                clearBtn: false,
                daysOfWeekDisabled: [],
                endDate: Infinity,
                forceParse: true,
                format: 'mm/dd/yyyy',
                keyboardNavigation: true,
                language: 'en',
                minViewMode: 0,
                orientation: 'auto',
                rtl: false,
                startDate: -Infinity,
                startView: 2,
                todayBtn: false,
                todayHighlight: false,
                weekStart: 0
            });
            $('input[name="Criteria.LogQueryCriteriaCommon.DateCommonOft.NullableUpperBound"]').datepicker({
                autoclose: true,
                beforeShowDay: $.noop,
                calendarWeeks: false,
                clearBtn: false,
                daysOfWeekDisabled: [],
                endDate: Infinity,
                forceParse: true,
                format: 'mm/dd/yyyy',
                keyboardNavigation: true,
                language: 'en',
                minViewMode: 0,
                orientation: 'auto',
                rtl: false,
                startDate: -Infinity,
                startView: 2,
                todayBtn: false,
                todayHighlight: false,
                weekStart: 0
            });
            $('input[name="Criteria.LogQueryCriteriaCommon.DateCommonOft.NullableLowerBound"]').prop('disabled', true);
            $('input[name="Criteria.LogQueryCriteriaCommon.DateCommonOft.NullableUpperBound"]').prop('disabled', true);
        }));
    </script>
}
