@using UrlStringsAlias = Log4Net.AspNetMvc40Rasor.Helpers.UrlStrings;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Linq.Expressions;
@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using System.Web.Routing;
@using Framework.Mvc;
@using PagedList.Mvc;
@model Log4Net.AspNetMvc40ViewModel.WPEntityRelatedOfLogVM
@{
    RouteValueDictionary queryStringDictionary = new RouteValueDictionary(Request.QueryString.AllKeys.ToDictionary(key => key, key => (object)Request.QueryString[key]));
}
 <div class="row">
 <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 nopadding">
 </div>
 <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
<!-- Aside.01.Start. Log4Net.Log => MasterViewAsideKeyInformation -->
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 style="display: inline;">
                @Log4Net.Resx.UIStringResourcePerEntityLog.Log
            </h3>
        </div>
@if (Model.StatusOfMasterEntity == Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.MessageOK)
{ // Item
<div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Log_Edit, UrlStringsAlias.ControllerName_Log, new { isToCompareIdByIdentifierOftOfByIdentifier=true, valueToCompareIdByIdentifierOftOfByIdentifier = Model.MasterEntity.Id })" class="btn btn-default" role="button" type="button" name="EditToolBarUp" title="@Framework.Resx.UIStringResource.Edit">
        <span class="glyphicon glyphicon-edit"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Log_AddNew, UrlStringsAlias.ControllerName_Log)" class="btn btn-default" role="button" type="button" name="AddNewToolBarUp" title="@Framework.Resx.UIStringResource.AddNew">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Log_Copy, UrlStringsAlias.ControllerName_Log, new { isToCompareIdByIdentifierOftOfByIdentifier=true, valueToCompareIdByIdentifierOftOfByIdentifier = Model.MasterEntity.Id })" class="btn btn-default" role="button" type="button" name="CopyToolBarUp" title="@Framework.Resx.UIStringResource.Copy">
        <span class="glyphicon glyphicon-copy"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Log_Details, UrlStringsAlias.ControllerName_Log, new { isToCompareIdByIdentifierOftOfByIdentifier=true, valueToCompareIdByIdentifierOftOfByIdentifier = Model.MasterEntity.Id })" class="btn btn-default" role="button" type="button" name="DetailsToolBarUp" title="@Framework.Resx.UIStringResource.Details">
        <span class="glyphicon glyphicon-file"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Log_Index, UrlStringsAlias.ControllerName_Log)" class="btn btn-default" role="button" type="button" name="GotoSearchToolBarUp" title="@Framework.Resx.UIStringResource.GotoSearch">
        <span class="glyphicon glyphicon-search"></span>
    </a>
</div>
</div>
        <div class="panel-body">
                <div class="form-group" >
                    @Html.LabelFor(model => model.MasterEntity.Id, new { @class = "control-label" })
                        <div class="form-control">
                            @Html.DisplayFor(model => model.MasterEntity.Id)
                        </div>
                </div>
                <div class="form-group" >
                    @Html.LabelFor(model => model.MasterEntity.Date, new { @class = "control-label" })
                        <div class="form-control">
                            @Html.DisplayFor(model => model.MasterEntity.Date)
                        </div>
                </div>
                <div class="form-group" >
                    @Html.LabelFor(model => model.MasterEntity.Thread, new { @class = "control-label" })
                        <div class="form-control">
                            @Html.DisplayFor(model => model.MasterEntity.Thread)
                        </div>
                </div>
                <div class="form-group" >
                    @Html.LabelFor(model => model.MasterEntity.Level, new { @class = "control-label" })
                        <div class="form-control">
                            @Html.DisplayFor(model => model.MasterEntity.Level)
                        </div>
                </div>
                <div class="form-group" >
                    @Html.LabelFor(model => model.MasterEntity.Logger, new { @class = "control-label" })
                        <div class="form-control">
                            @Html.DisplayFor(model => model.MasterEntity.Logger)
                        </div>
                </div>
                <div class="form-group" >
                    @Html.LabelFor(model => model.MasterEntity.Message, new { @class = "control-label" })
                        <div class="form-control">
                            @Html.DisplayFor(model => model.MasterEntity.Message)
                        </div>
                </div>
                <div class="form-group" >
                    @Html.LabelFor(model => model.MasterEntity.Exception, new { @class = "control-label" })
                        <div class="form-control">
                            @Html.DisplayFor(model => model.MasterEntity.Exception)
                        </div>
                </div>
        </div>
}
@if (Model.StatusOfMasterEntity != Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.UIProcessReady && Model.StatusOfMasterEntity != Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.MessageOK)
{
<div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Log_AddNew, UrlStringsAlias.ControllerName_Log)" class="btn btn-default" role="button" type="button" name="AddNewToolBarUp" title="@Framework.Resx.UIStringResource.AddNew">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Log_WPEntityRelatedOfLog, UrlStringsAlias.ControllerName_Log, new { isToCompareIdByIdentifierOftOfByIdentifier=true, valueToCompareIdByIdentifierOftOfByIdentifier = Model.MasterEntity.Id })" class="btn btn-default" role="button" type="button" name="FullDetailsToolBarUp" title="@Framework.Resx.UIStringResource.FullDetails">
        <span class="glyphicon glyphicon-briefcase"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Log_Index, UrlStringsAlias.ControllerName_Log)" class="btn btn-default" role="button" type="button" name="GotoSearchToolBarUp" title="@Framework.Resx.UIStringResource.GotoSearch">
        <span class="glyphicon glyphicon-search"></span>
    </a>
</div>
</div>
<div class="text-danger">@Model.StatusMessageOfMasterEntity</div>
}
    </div>
</div>
<!-- Aside.01.End. Log4Net.Log => MasterViewAsideKeyInformation -->
 </div>
 </div>
