@model Log4Net.AspNetMvc40Rasor.Models.LocalPasswordModel
@{
    ViewBag.Title = Framework.Resx.UIStringResource.Account_Manage_TitleText;
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
</hgroup>
<p class="message-success">@ViewBag.StatusMessage</p>
<p>@Framework.Resx.UIStringResource.Account_Manage_Youreloggedinas <strong>@User.Identity.Name</strong>.</p>
@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{
    @Html.Partial("_SetPasswordPartial")
}
<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")
    <h3>@Framework.Resx.UIStringResource.Account_Manage_Addanexternallogin</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>
