@model Log4Net.AspNetMvc40Common.Models.LocalPasswordModel
<h3>@Framework.Resources.UIStringResource.Account_ChangePassword_TitleText</h3>
@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <fieldset>
        <legend>@Framework.Resources.UIStringResource.Account_ChangePassword_LegendText</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="@Framework.Resources.UIStringResource.Account_ChangePassword_SubmitValue" />
    </fieldset>
}