@model ICollection<Log4Net.AspNetMvc40Common.Models.ExternalLogin>
@if (Model.Count > 0)
{
    <h3>@Framework.Resources.UIStringResource.Account_ExternalLogin_Registeredexternallogins</h3>
    <table>
        <tbody>
        @foreach (Log4Net.AspNetMvc40Common.Models.ExternalLogin externalLogin in Model)
        {
            <tr>
                <td>@externalLogin.ProviderDisplayName</td>
                <td>
                    @if (ViewBag.ShowRemoveButton)
                    {
                        using (Html.BeginForm("Disassociate", "Account"))
                        {
                            @Html.AntiForgeryToken()
                            <fieldset>
                                @Html.Hidden("provider", externalLogin.Provider)
                                @Html.Hidden("providerUserId", externalLogin.ProviderUserId)
                                <input type="submit" value="Remove" title="@string.Format(Framework.Resources.UIStringResource.Account_ExternalLogin_RemovedExternalLoginTitle, externalLogin.ProviderDisplayName)" />
                            </fieldset>
                        }
                    }
                    else
                    {
                        @: &nbsp;
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}