@model Log4Net.AspNetMvc40Common.Models.LocalPasswordModel
<p>@Framework.Resources.UIStringResource.Account_ExternalLogin_SetPasswordDescription
</p>
@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <fieldset>
        <legend>@Framework.Resources.UIStringResource.Account_ExternalLogin_SetPasswordLegend</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="@Framework.Resources.UIStringResource.Account_ExternalLogin_SetPasswordSubmitValue" />
    </fieldset>
}