@model Log4Net.AspNetMvc40Common.Models.LocalPasswordModel
@{
    ViewBag.Title = Framework.Resources.UIStringResource.Account_Manage_TitleText;
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<p class="message-success">@ViewBag.StatusMessage</p>
<p>@Framework.Resources.UIStringResource.Account_Manage_Youreloggedinas <strong>@User.Identity.Name</strong>.</p>
@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{
    @Html.Partial("_SetPasswordPartial")
}
<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")
    <h3>@Framework.Resources.UIStringResource.Account_Manage_Addanexternallogin</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}