@model Log4Net.AspNetMvc40Common.Models.RegisterModel
@{
    ViewBag.Title = Framework.Resources.UIStringResource.Account_Register_TitleText;
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@Framework.Resources.UIStringResource.Account_Register_DescriptionText</h2>
</hgroup>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <fieldset>
        <legend>@Framework.Resources.UIStringResource.Account_Register_Legend</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="@Framework.Resources.UIStringResource.Account_Register_SubmitValue" />
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}